# Python virtual environment
venv/
.env
.venv/
*.pyc
__pycache__/

# IDE-specific files (e.g., VS Code)
.vscode/
.idea/

# Streamlit specific (optional, but good practice for sensitive config)
# .streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db
